.bg-color-000
  background-color #000
.bg-color-333
  background-color #333
.bg-color-666
  background-color #666
.bg-color-999
  background-color #999
.bg-color-ccc
  background-color #ccc
.bg-color-ddd
  background-color #ddd
.bg-color-fff
  background-color #fff!important
.bg-color-eee
  background-color #eee
.bg-color-f9f9f9
  background-color #f9f9f9
.bg-color-f6f6f6,.bg-gray
  background-color #f6f6f6
.bg-color-DEE7F1
  background-color #DEE7F1
.bg-color-C63639
  background-color rgba(198,54,57,.9);
.bg-color-F6FFF8
  background-color: #F6FFF8
.bg-color-f6f6f6
  background-color #f6f6f6
.bg-color-blue
  background-color #1C71B7
.bg-color-F5F5FA
  background-color #F5F5FA
.bg-color-E9E8F0
  background-color #E9E8F0
.bg-color-FAFAFA
  background-color #FAFAFA
.bg-blue-hover:hover
  background #e6f7ff!important
.bg-color-F5F5FA
  background-color #F5F5FA
.bg-color-F4F5FC
  background-color #F4F5FC


.bg-repeat-no
  background-repeat no-repeat

.bg-position-l-c
  background-position left center

.bg-position-c-c
  background-position center center

.bg-position-c-t
  background-position center top


.bg-size-contain
  background-size contain
.bg-size-cover
  background-size cover
.bg-size-100
  background-size 100% 100%

.bg-fff
  @extend .bg-color-fff
.bg-ccc
  @extend .bg-color-ccc
.bg-green
  background #32BA59

.bg-transparent
  background transparent
.bg-linear-header
  background linear-gradient(90deg,rgba(1,69,168,1) 0%,rgba(28,113,183,1) 100%);
.bg-linear-footer
  background:linear-gradient(90deg,rgba(3,71,168,1) 0%,rgba(5,112,233,1) 100%);
.bg-linear-userCenter-top
  background:linear-gradient(180deg,rgba(241,247,255,1) 0%,rgba(255,255,255,1) 100%);
.bg-linear-button
  background linear-gradient(90deg, #0145a8 0%, #1c71b7 100%);
.bg-linear-button:hover
  background: #003C94
.bg-linear-regist
  background:linear-gradient(90deg,rgba(1,145,221,1) 0%,rgba(14,221,191,1) 100%)!important


