.b-r-circle
  border-radius: 50%!important
.b-r-2
  border-radius: 2px!important
.b-r-4
  border-radius: 4px!important
.b-r-10
  border-radius: 10px!important
.b-r-14
  border-radius: 14px!important
.b-r-16
  border-radius: 16px !important
  
.b-r-20
  border-radius: 20px!important
.b-r-25
  border-radius:25px!important
.b-r-no-left
  border-top-left-radius: 0!important
  border-bottom-left-radius:0!important 
.b-r-no-right
  border-top-right-radius: 0!important
  border-bottom-right-radius:0!important 
.b-r-no-bottom
  border-bottom-left-radius: 0!important
  border-bottom-right-radius:0!important 

.b-666
  border 1px solid #666
.b-ccc
  border 1px solid #cccccc
.b-ddd
  border 1px solid #ddd

.b-eee
  border 1px solid #eeeeee
.b-1C71B7,.b-blue
  border 1px solid #1C71B7
.b-fff
  border 1px solid #fff
.b-EAEAEA
  border 1px solid #EAEAEA
.b-E9E8F0
  border 1px solid #E9E8F0
.b-w-2
  border-width 2px!important

.b-no-t
  border-top none !important
.b-no-b
  border-bottom none !important 
.b-no-l
  border-left none !important
.b-no-r
  border-right none !important 
.b-no-tb
  @extend .b-no-t
  @extend .b-no-b
.b-no-lr
  @extend .b-no-l
  @extend .b-no-r
.b-no
  @extend .b-no-t
  @extend .b-no-b
  @extend .b-no-l
  @extend .b-no-r


.b-s
  box-sizing border-box
