.ant-form
    .ant-form-item
        // margin-bottom 0px!important
        .ant-input:hover
            outline none
            border-radius 0
            border none 
            border-bottom 1px solid #EEEEEE
        .input_failed
            .ant-input 
              border-bottom 1px solid #C63639
        .ant-input:focus
            border none 
            border-bottom 1px solid #1C71B7
            outline:none;
            box-shadow: none;
        .ant-input
            outline none
            border-radius 0
            border none 
            border-bottom 1px solid #EEEEEE
            vertical-align middle


.login-box-border
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 20px 0px rgba(28,113,183,0.1);
  border-radius:4px;
.login-code-button
   background #fff;
   border-radius 16px
   border 1px solid rgba(28,113,183,1)
   color #666
   font-size 12px
   &:hover
       color #ffffff
       background #1C71B7
.login-code-button-disabled
    background #fff;
    border-radius 16px
    border 1px solid #1C71B7
    color #666
    font-size 12px