.o-a
  overflow auto
.o-h
  overflow hidden
.o-v
  overflow visible
.o-x-a
  overflow-x: auto
.o-x-h
  overflow-x: hidden
.o-y-a
  overflow-y: auto
.o-y-h
  overflow-y: hidden

.v-h
  visibility: hidden
.v-v
  visibility: visible

