*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    // font-family:"PingFangHK-Regular",'Microsoft YaHei', "Open Sans",arial,sim, sans-serif,'MicrosoftYaHe';
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
    box-sizing: border-box;
    // transition all ease .4s
    font-size 14px
    color inherit
    word-break: break-word
    
  }
*
  &::-webkit-scrollbar
    width 3px
  &:hover
    &::-webkit-scrollbar-thumb
      background-color rgba(#999,1)

  &::-webkit-scrollbar-track-piece
    background rgba(#000,0.05)  
  &::-webkit-scrollbar-thumb
    transition all ease .3s
    border-radius 6px
    background-color rgba(#ccc,.7)
    cursor pointer

html 
  height 100%
  width 100%
  font-size 100px
  transition none
  background #f9f9f9
  margin 0
body
  margin 0
  width 100%
  height 100%
  // min-width 1200px
  // overflow-y:scroll;
  background: #f9f9f9
  p
    margin 0
    margin-bottom 0

  
header,main,footer,article,section,nav,aside
  margin 0
  display block
textarea
  margin 0
  resize none
input,button,textarea
  margin 0
  border: none
  border-width 0
  background none
  padding none
  outline: none
  &::placeholder
    color #ccc

video,audio 
  outline none  

h1,h2,h3,h4,h5,h6
  font-weight 500
  margin 0

strong 
  font-weight 600

::-ms-clear, ::-ms-reveal
  display none

ul,ol,li
  list-style none
  margin 0
a
  text-decoration none
  // &:hover
  //   opacity 0.7
a,img
  border none
a
  border: none
  border-width 0
  // border-
em
  font-style:normal 
li
  list-style:none 
img
  border:0;
  vertical-align:middle 
table
  border-collapse:collapse;
  border-spacing:0 
p
  word-wrap:break-word 
  margin 0



