.ant-btn-primary,.ant-btn-background-ghost.ant-btn-primary
  border-color #1C71B7
  color #1C71B7
  // background-color #1C71B7!important
.ant-modal-header,.ant-modal-footer
    border-bottom none!important
    border-top none!important
.ant-modal-footer,.ant-modal-body
    padding-top 0
    padding-bottom 0
.ant-input
    // border none!important
    box-shadow none!important
    // padding-left 0!important
    // padding-right 0!important
.ant-modal-title
    font-weight 600!important
.ant-pagination-item 
    border none!important
.ant-pagination.mini .ant-pagination-item
    margin 0 10px!important

.modal-lg                     
    600px !default;
.enter-table
    th 
        // padding 10px
        *
            color: #999;
            font-weight: 400
            font-size: 12px
    td
        font-size 12px
        color #333333
        line-height 16px!important
    td,th
        padding 10px!important
    .ant-table-pagination.ant-pagination
        width 100%
        text-align: center
    .ant-pagination-item-link
        border none!important